body {
    background-color: rgb(219, 212, 212);
}
.body > * {
    margin: 0 auto;
}
.cardContainer > * {
    margin: 0 auto;
}

.cardContainer {
    width: 350px;
    height: 200px;
    /*background-color: pink;*/
    background: linear-gradient(to bottom left, rgb(216, 131, 34), rgb(235, 120, 129) );
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.infoText {
    color: white;
    text-align: left;
    margin-left: 20px;
}
.infoText > h4 {
    padding-top: 30px;
}
.infoText > h1 {
    margin-top: 10px;
}
.infoText > h5 {
    margin-top: 50px;
}
#circle1 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 40px;
    right: -20px;;
}
#circle2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: -50px;
    right: 0px;
}